<% unless message.sender.nil? %>
  <% cls = 'player' %>
  <% cls += ' shout' if message.is_shout? %>
  <% cls += ' thought' if message.is_thought? %>
<% else %>
  <% cls = 'audience' %>
<% end %>

<div class="message">
  <span class="sender">
    <% unless message.nickname == "" %>
      <%= message.nickname %>
    <% else %>
      <%= message.sender.nil? ? '' : message.sender.username %>
    <%end%>
  </span>
  <div class="content <%= cls %>">
      <%= auto_link(message.formatted_content, html: { target: '_blank' }) %>
  </div>
</div>
