<% msg = message.content %>
<div class="message">
  <% unless message.sender.nil? %>
    <% cls = 'player' %>
    <% if msg.starts_with? '!'%>
      <% cls += ' shout' %>
      <% msg[0] = '' %>
    <% end %>
  <% else %>
    <% cls = 'audience' %>
  <% end %>
  <% msg = auto_link(msg, html: { target: '_blank' }) %>
  <p class="<%= cls %>">
    <%= message.sender ? message.sender.nickname : 'Audience' %> : <%= msg %>
  </p>
</div>
