<h1>Your Account has been Activated!</h1>

<p>
  Good news! Your requested account has been activated by an UpStage administrator.
</p>

<p>
  Follow the link below to log in and begin using UpStage.
</p>

<p>
  <%= link_to login_url, login_url %>
</p>
