<% @title = request.path == registration_path ? "Register" : "Create User" %>

<div class="page-header">
  <h1><%= request.path == registration_path ? "Register" : "Create User" %></h1>
</div>

<%= render 'form' %>
