<% @title = @user.username %>

<div class="page-header">
  <h1>
    <%= @user.username %>
    <small class="pull-right">
      <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-default" %>
      <%= link_to 'Delete', @user, :method => :delete, :data => { confirm: "This user will be deleted immediately and no longer be available.", title: "Are you sure you want to delete the user \"#{@user.username}\"?" }, :class => "btn btn-danger" %>
    </small>
  </h1>
</div>
