<%= form_with :model => [(@perspective || perspective), (@tag || tag)] do |f| %>

<div class="form-group">
  <%= f.text_field :name, :class => 'form-control', :placeholder => 'Name' %>
  <% unless f.object.errors[:name].empty? %>
    <p class="text-danger">
      <% f.object.errors.full_messages_for(:name).each do |e| %>
        <%= e %><br>
      <% end %>
    </p>
  <% end %>
</div>

<div class="form-group">
  <%= f.submit ( (@perspective || perspective).present? ? 'Add' : 'Create' ), :class => 'btn btn-primary' %>
</div>

<% end %>
