<!-- <table id = "tagtable2" class="table table-striped">
	<thead>
		<tr>
			<th onclick="sortTable(0)" style="cursor:pointer">Name</th>
			<th onclick="sortTable(1)" style="cursor:pointer">Type</th>
		</tr>
	</thead>
	<tbody>
		<%= @tags.each do |m| %>
  			<tr>
  				<td><%= link_to m.name, m %></td>
          <td><%= m.class.name %></td>
  			</tr>
		<% end %>
	</tbody>
</table> -->