<div class="page-header">
  <h1>
    <%= @perspective.present? ? 'Add' : 'Create' %> Tag
    <% if @perspective.present? %>
      <br/>
      <small><%= @perspective.name %></small>
    <% end %>
  </h1>
</div>

<%= render 'form' %>
