<div id="assignSoundsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Assign Sounds</h4>
      </div>
      <div class="modal-body">
        <%= select_tag :add_sound_path, options_for_select(Sound.not_assigned(@stage).map { |s| [ s.name, url_for([@stage, s])] }), :class => "form-control", :prompt => 'Select a Sound' %>
      </div>
      <div class="modal-footer">
        <%= link_to '#', :method => :get, :class => "btn btn-primary", :id => 'soundAssignmentButton', :disabled => true do %>
          <span class="glyphicon glyphicon-ok"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
