<div id="assignAvatarsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Assign Avatars</h4>
      </div>
      <div class="modal-body">
        <%= select_tag :add_avatar_path, options_for_select(Avatar.not_assigned(@stage).map { |s| [ s.name, url_for([@stage, s])] }.sort), :class => "form-control", :prompt => 'Select an Avatar' %>
      </div>
      <div class="modal-footer">
        <%= link_to '#', :method => :get, :class => "btn btn-primary", :id => 'avatarAssignmentButton', :disabled => true do %>
          <span class="glyphicon glyphicon-ok"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
