<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Avatars</h4>
  </div>
  <div class="panel-body">
    <% @stage.avatar_stages.each do |i| %>
      <div class="row">
        <div class="col-lg-10">
          <%= link_to i.avatar.name, i.avatar %>
        </div>
        <div class="col-lg-2">
            <span class="btn-group btn-group-xs pull-right">
              <%= link_to i, :method => :delete, :data => { confirm: "Are you sure?" }, :class => "btn btn-danger" do %>
                <span class="glyphicon glyphicon-minus"></span>
              <% end %>
            </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer clearfix">
    <span class="btn-group btn-group-xs pull-right">
      <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#assignAvatarsModal">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </span>
  </div>
</div>

<%= render 'assign_avatars' %>
