<% @title = "Edit Stage \'#{@avatar.name}\'" %>

<div class="page-header">
  <h1>
    Edit Stage
    <br>
    <small>
      <%= @stage.name %>
      <%= render 'tags' %>
    </small>
  </h1>
</div>

<%= render 'form' %>
