<table id = "mediatable" class="table table-striped">
  <thead>
    <tr>
      <th onclick = "sortTable(0)">Name</th>
      <th onclick = "sortTable(1)">Type</th>
      <th onclick = "sortTable(2)">Stages</th>
      <th onclick = "sortTable(3)">Tags</th>
      <th class="col-sm-1">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @media.each do |m| %>
      <tr>
        <td><%= link_to m.name, m %></td>
        <td><%= m.class.name %>
        <td class="text-muted">
        </td>
        <td>
          <% m.tags.each do |t| %>
            <%= render t %>
          <% end %>
        </td>
        <td class="col-sm-1">
          <span class="btn-group btn-group-sm">
            <%= link_to m, :method => :delete, :data => { confirm: "#{m.name} will be removed" }, :class => 'btn btn-sm btn-danger' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  <script> 
        function sortTable(n){
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("mediatable");          
          switching = true;
          //Setting the sorting direction to ascending order.
          dir = "asc"; 
        //A loop that will continue until no switching has been done.
        while (switching){
          switching = false;
          rows = table.getElementsByTagName("TR");
          //Loop through all table rows but not the table headers.
          for (i = 1; i < (rows.length - 1); i++){
            //No switching at first.
            shouldSwitch = false;
            //Compares the two elements, one from current row and one from the next.
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            //Check if the two needs switching based on the direction, ascending or descending order.
            if (dir == "asc"){
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()){
                shouldSwitch= true;
                break;
              }
            } else if (dir == "desc"){
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()){
                shouldSwitch= true;
                break;
              }
            }
          }
          if (shouldSwitch){
            //If a switch has been marked, make the switch and then mark that a switch has been done.
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount ++;      
          } else{
            //If no switching has been done AND the direction is "ascending", will set the direction to "descending" and run the loop again.
            if (switchcount == 0 && dir == "asc"){
              dir = "desc";
              switching = true;
            }
          }
        }
      }
</script>
</table>

