<% @title = 'Media' %>

<div class="page-header">
  <h1>
    Media
    <small class="pull-right">
      <div class="btn-toolbar">
        <div class="btn-group mr-2">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div class="dropdown-menu">
              <%= link_to 'Avatar', new_avatar_path, :class => 'dropdown-item' %>
              <%= link_to 'Sound', new_sound_path, :class => 'dropdown-item' %>
            </div>
          </div>
        </div>
      </div>
    </small>
  </h1>
</div>

<div id="panelView" class="hidden-lg">
  <% @media.each do |m| %>
    <%= render :partial => 'panel', :locals => { medium: m } %>
  <% end %>
</div>

<div id="tableView" class="visible-lg">
  <%= render 'table' %>
</div>
