<% @title = 'Media' %>

<div class="page-header">
  <h1>
    Media
    <small class="pull-right">
      <span class="btn-group">
        <%= link_to 'Create', new_medium_path, :class => "btn btn-primary" %>
      </span>
    </small>
  </h1>
  </h1>
</div>

<table class="table table-striped">
  <% @media.each do |m| %>
    <tr>
      <td>
        <%= link_to m.name, m %>
      </td>
      <td>
        <span class="btn-group pull-right">
          <%= link_to 'Edit', edit_medium_path(m), :class => "btn btn-default" %>
          <%= link_to 'Delete', m, :method => :delete, :data => { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
        </span>
      </td>
    </tr>
  <% end %>
</table>
