<% @title = "Edit Sound \'#{@sound.name}\'" %>

<div class="page-header">
  <h1>
    <%= @sound.name %>
    <small class="pull-right">
      <span class="btn-group">
        <%= link_to @sound, :method => :delete, :data => { confirm: "The sound \"#{@sound.name}\" will be removed?", title: "Confirm" }, :class => "btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </span>
    </small>
    <br>
    <small>Sound</small>
    <%= render 'tags' %>
  </h1>
</div>

<%= render 'form' %>
