@import 'slick';
@import 'slick-theme';

$upstageGreen: #5da332;

html.theatre {
  height: 100vh;
  width: 100vw;
}
body.stage {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#canvas {
  width: 75%;
  height: 100%;
}

#sidebar {
  width: 25%;
  height: 100%;
}

#toolbox {
  width: 100%;
  height: 30%;
}

#chat {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

#chat > #chat-body {
  height: 65%;
  overflow-y: scroll;
  border: solid 1px $upstageGreen;
}

#chat > #chatInput {
  height: 15%;
  border: solid 1px $upstageGreen;
  padding: 10px;
}

#avatar {
  overflow-y: scroll;
  height: 25vh;
  float: centre;
}

div.mirror {
  border: solid 1px $upstageGreen;
  text-align: center;
  float:right;
  width: 50%;
}

#drawing{
  height: 25vh;
}

.red {
    color: red;
}

.black {
    color: black;
}

.green {
    color: green;
}

.pink {
    color: pink;
}

.blue {
    color: blue;
}

.white {
    color: gray;
}

.audio-button {
	background-color:#7892c2;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

#audio{
  height: 25vh;
}

.tab-pane {
    padding: 1px;
    border: 1px solid YellowGreen;
    background-color: white;
}

.nav-tabs {
  font-size: 12px;
}

.audio-list-item {
    padding: 10px;
}

.shout {
    color: red;
}

div.message {
  margin: 15px 16px 15px 8px;
  border-bottom: 1px solid #eee;
}

div.message > div.content {
  color: #000;
}

div.message > span.sender {
  font-size: 8pt;
  color: #888;
}

div.message > div.content.player {
  color: #000;
}

div.message > div.content.audience {
  color: #aaa;
  text-align: right;
}

label {
  padding: 5px;
}

.avatar-selection > img {
  width: 50%;
}
/* Chat modifiers */

div.message > div.content.thought {
  color: #2222aa;
}

div.message > div.content.shout {
  color: #ff0000;
  font-weight: bold;
  text-transform: uppercase;
}

#backdrop{
  overflow-y: scroll;
  height: 25vh;
  float: centre;
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -10px;
  z-index: 10;
}

.slick-prev {
  left: -10px;
  z-index: 10;
}

.slick-dots li button:before{
  font-size: 5px;
  margin-top: -10px;
}

.slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
    img{
      width: 95%;
    }
}

.avatar-functions {
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttons{
  float:right;
  margin-right: 15px;
}

.range-slider {
  float:left;
  width: 50%;
}

.edit-name {
  float:left;
  margin-left: 18px;
}

.btn {
  font-size: 8px;
}
