
#toolbar {
    width: 100%;
    height: 50px;
    padding: 10px;
}

.theatre-body {
    margin: 30px;
}

canvas { 
    border: 1px solid black;
}

#chat-body { 
    width: 400px;
    height: 400px;
    max-height: 400px;
    overflow-y: scroll; 
    
}

.panel-footer { width: 400px; }



.red {
    color: red;
}

.black {
    color: black;
}

.green {
    color: green;
}

.pink {
    color: pink;
}
            
.blue {
    color: blue;
}
            
.white {
    color: gray;
}