#toolbar {
    width: 100%;
    height: 30px;
    padding: 10px;
}

.theatre-body {
    margin: 0px;
    height: 100vh;
    width:  100vw;
}

canvas {
}

#backdrop {
    margin-top: 2px;
    border: 1px solid YellowGreen;
}

#chat {
    width: 100%;
    height: 100%;
    min-height: 100%;
    border: 0px
}

div.message > p.shout {
    color: red;
    font-weight: bold;
    font-size:15px;
}

div.message > p.thought {
    color: #add8e6;
    font-weight: thin;
}

#chat-body {

    width: 100%;
    max-width: 100%;
    height: 75vh;
    max-height: 100%;
    min-height: 100%;
    overflow: scroll;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid YellowGreen;
}

div#chat > div.panel-footer {
    width: 100%;
    border: 1px solid YellowGreen;
}



.red {
    color: red;
}

.black {
    color: black;
}

.green {
    color: green;
}

.pink {
    color: pink;
}

.blue {
    color: blue;
}

.white {
    color: gray;
}

.audio-button {
	background-color:#7892c2;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.tab-pane {
    padding: 1px;
    border: 1px solid YellowGreen;
    background-color: white;
}

.audio-list-item {
    padding: 10px;
}

.shout {
    color: red;
}

div.message {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

div.message > div.content {
  color: #000;
  margin-top: 20px;
  padding: 0px;
}

div.message > span.sender {
  font-size: 8pt;
  color: #888;
  float: left;
}

div.message > div.content.player {
  color: #000;
  margin-right: 10px;
}

div.message > div.content.audience {
  color: #aaa;
  margin-left: 10px;
  text-align: right;
}

/* Chat modifiers */

div.message > div.content.thought {
  color: #2222aa;
}

div.message > div.content.shout {
  color: #ff0000;
  font-weight: bold;
  text-transform: uppercase;
}

label {
  padding: 5px;
}
