$upstageGreen: #5da332;

html.theatre {
  height: 100vh;
  width: 100vw;
}
body.stage {
  display: flex;
  height: 100vh;
  width: 100vw;
}

canvas#canvas {
  width: 75%;
  height: 100%;
}

div#sidebar {
  width: 25%;
  height: 100%;
}

div#toolbox {
  width: 100%;
  height: 20%;
}

div#chat {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

div#chat > div#chat-body {
  height: 85%;
  overflow-y: scroll;
  border: solid 1px $upstageGreen;
}

div#chat > div#chatInput {
  height: 15%;
  border: solid 1px $upstageGreen;
  padding: 10px;
}

.red {
    color: red;
}

.black {
    color: black;
}

.green {
    color: green;
}

.pink {
    color: pink;
}

.blue {
    color: blue;
}

.white {
    color: gray;
}

.audio-button {
	background-color:#7892c2;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.tab-pane {
    padding: 1px;
    border: 1px solid YellowGreen;
    background-color: white;
}

.audio-list-item {
    padding: 10px;
}

.shout {
    color: red;
}

div.message {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

div.message > div.content {
  color: #000;
  margin-top: 20px;
  padding: 0px;
}

div.message > span.sender {
  font-size: 8pt;
  color: #888;
  float: left;
}

div.message > div.content.player {
  color: #000;
  margin-right: 10px;
}

div.message > div.content.audience {
  color: #aaa;
  margin-left: 10px;
  text-align: right;
}

label {
  padding: 5px;
}

/* Chat modifiers */

div.message > div.content.thought {
  color: #2222aa;
}

div.message > div.content.shout {
  color: #ff0000;
  font-weight: bold;
  text-transform: uppercase;
}
