<% @title = 'Foyer' %>

<div class="page-header">
  <h1>Welcome!</h1>
</div>

<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Stages</h4>
    </div>
    <div class="panel-body">
      <div class="row hidden-md hidden-sm hidden-xs">
        <div class="col-lg-10 col-md-12">
          <small>Name</small>
        </div>
        <div class="col-lg-1">
          <small>Players</small>
        </div>
        <div class="col-lg-1">
          <small>Audience</small>
        </div>
      </div>
      <% @stages.each do |s| %>
        <div class="row hidden-md hidden-sm hidden-xs">
          <div class="col-lg-10 col-md-12">
            <%= link_to s.name, performance_path(s) %>
          </div>
          <div class="col-lg-1">
            0
          </div>
          <div class="col-lg-1">
            0
          </div>
        </div>
        <div class="hidden-lg col-md-12">
          <%= link_to s.name, s %>
          <br>
          <strong>Players:</strong> 0
          <strong>Audience:</strong> 0
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><%= link_to 'Announcements', announcements_path %></h4>
    </div>
    <div class="panel-body">
      <% @announcements.each do |a| %>
        <%= render :partial => 'announcement', :locals => { announcement: a } %>
      <% end %>
    </div>
  </div>
</div>
